body{
background: green;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
.ba-container {
	width: 72vmin;
	height: 72vmin;
	margin: 80px auto;
	outline: 20px solid #888;
}
.wrapper {
	width: 72vmin;
	height: 72vmin;
	margin: 0px -20px;
	background: #FFF;
}
.cell > div{
	width: 9vmin;
	height: 9vmin;
	float:left;
}
.cell > div:nth-child(1),
.cell > div:nth-child(3),
.cell > div:nth-child(5),
.cell > div:nth-child(7),
.cell > div:nth-child(10),
.cell > div:nth-child(12),
.cell > div:nth-child(14),
.cell > div:nth-child(16),
.cell > div:nth-child(17),
.cell > div:nth-child(19),
.cell > div:nth-child(21),
.cell > div:nth-child(23),
.cell > div:nth-child(26),
.cell > div:nth-child(28),
.cell > div:nth-child(30),
.cell > div:nth-child(32),
.cell > div:nth-child(33),
.cell > div:nth-child(35),
.cell > div:nth-child(37),
.cell > div:nth-child(39),
.cell > div:nth-child(42),
.cell > div:nth-child(44),
.cell > div:nth-child(46),
.cell > div:nth-child(48),
.cell > div:nth-child(49),
.cell > div:nth-child(51),
.cell > div:nth-child(53),
.cell > div:nth-child(55),
.cell > div:nth-child(58),
.cell > div:nth-child(60),
.cell > div:nth-child(62),
.cell > div:nth-child(64) {
	background: #333;
}
.cell > div:nth-child(1)::after,
.cell > div:nth-child(3)::after,
.cell > div:nth-child(5)::after,
.cell > div:nth-child(7)::after,
.cell > div:nth-child(10)::after,
.cell > div:nth-child(12)::after,
.cell > div:nth-child(14)::after,
.cell > div:nth-child(16)::after,
.cell > div:nth-child(17)::after,
.cell > div:nth-child(19)::after,
.cell > div:nth-child(21)::after,
.cell > div:nth-child(23)::after{
	display: block;
	content: '';
	background: black;
	width: 8vmin;
	height: 8vmin;
	border-radius: 50%;
	margin: 5%;
}
.cell > div:nth-last-child(1)::after,
.cell > div:nth-last-child(3)::after,
.cell > div:nth-last-child(5)::after,
.cell > div:nth-last-child(7)::after,
.cell > div:nth-last-child(10)::after,
.cell > div:nth-last-child(12)::after,
.cell > div:nth-last-child(14)::after,
.cell > div:nth-last-child(16)::after,
.cell > div:nth-last-child(17)::after,
.cell > div:nth-last-child(19)::after,
.cell > div:nth-last-child(21)::after,
.cell > div:nth-last-child(23)::after{
	display: block;
	content: '';
	background: red;
	width: 8vmin;
	height: 8vmin;
	border-radius: 50%;
	margin: 5%;
}
